.users-grid {
  width: 90%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 3% 5%;

  .user-actions {
    width: 100%;

    .users-action-container {
      align-content: center;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 15px 20px;
      border-radius: 3px;
      background: #435d7d;
      font-weight: bold;
      color: #fff;
      .user-action-title {
        flex: 1 1 auto;
        font-family: monospace;
        font-size: 18px;
      }
      button {
        background: #5cb85c;
        color: #fff;
        font-family: monospace;
        font-weight: bold;
        min-width: 150px;
      }
    }
  }
  .user-grid-data-container {
    background-color: #fafafa;
    .mat-card {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
      padding: 0;
      .users-grid-main {
        width: 100%;
        overflow-y: auto;
        .mat-table {
          width: 100%;
          .mat-header-cell {
            color: rgb(86, 103, 135);
            font-weight: bold;
            font-size: 13px;
            font-family: monospace;
            &:last-child {
              justify-content: center;
            }
          }
          .mat-cell {
            color: rgb(86, 103, 135);
            font-family: monospace;
            &:last-child {
              justify-content: center;
            }
          }
          mat-row {
            &:nth-child(even) {
              background-color: rgb(252, 252, 252);
            }
            &:hover {
              background-color: rgb(245, 245, 245);
            }
          }
        }
        .user-action {
          cursor: pointer;
          padding: 0 5px;
        }
        .active {
          color: green;
        }
        .inactive {
          color: #e51635;
        }
        .material-icon-wrapper {
          i {
            cursor: pointer;
            margin: 0 5px;
            font-size: 22px;
          }
        }
      }
    }
  }
}

.modalContainer {
  .heading {
    h4 {
      font-size: 18px;
      margin-bottom: 0;
      display: inline-block;
      color: #566787;
      font-weight: bold;
    }
    .delete-title {
      font-size: 14px;
      color: #566787;
    }
  }
  .email-input-form {
    width: 100%;
    float: left;
    .full-width-input {
      width: 100%;
      display: block;
    }
  }
  .modal-button-wrapper {
    width: 100%;
    .cancel-btn {
      font-family: monospace;
      font-weight: bold;
      background: rgba(196, 196, 196, 0.5);
      min-width: 120px;
    }
    .save-btn {
      float: right;
      background-color: #449d44;
      color: #fff;
      font-family: monospace;
      font-weight: bold;
      min-width: 120px;
    }
    .yes-btn {
      float: right;
      color: #fff;
      font-family: monospace;
      font-weight: bold;
      min-width: 120px;
    }
  }
  .modal-header, .modal-content, .modal-footer {
    padding: 20px 30px;
    float: left;
    width: 100%;
  }
  .modal-header {
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1.42857143;
    color: rgb(86, 103, 135);
    font-family: sans-serif;
    font-weight: bold;
  }
  .modal-footer {
    background: #ecf0f1;
    .content-block {
      width: 100%;
    }
  }
  .cancel-btn {
    background: #fff !important;
  }
  .yes-btn {
    background-color: #d9534f;
    &:hover {
      background-color: #c9302c;
    }
  }
}
