<div class="users-grid">
  <div class="user-actions">

    <div class="users-action-container">
      <div class="user-action-title">Email Address List</div>
      <button type="button" title="Add Email" (click)="openDialog()" mat-raised-button color="accent">Add Email</button>
    </div>
  </div>

  <div class="user-grid-data-container">
    <mat-card>
      <div class="users-grid-main">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="idtableEmail">
            <mat-header-cell *matHeaderCellDef>Serial No.</mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.idtableEmail}}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="tableEmailEmailAddress">
            <mat-header-cell *matHeaderCellDef class="email-container">Email Address</mat-header-cell>
            <mat-cell *matCellDef="let element" class="email-container">
              {{element.tableEmailEmailAddress}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;">

              <div class="material-icon-wrapper">
                <i class="material-icons" title="Edit" (click)="showHideModal(element)">edit</i>
                <i class="material-icons inactive" title="Delete" (click)="showDeleteModal(element)">delete_forever</i>
              </div>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

      </div>
    </mat-card>
  </div>
</div>

<div class="row modalContainer">

  <ngx-smart-modal #addRemoveEmailModal identifier="myModal">
    <div class="modal-header">
      <div class="heading">
        <h4>{{addNew ? 'Add Email Address' : 'Update Email Address'}}</h4>
      </div>
    </div>
    <form class="email-input-form" [formGroup]="form">
      <div class="modal-content">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="emailFormControl" autocomplete="off">
            <mat-error *ngIf="!form.get('emailFormControl').hasError('required') && form.get('emailFormControl').touched">
              <strong>Please enter a valid email address</strong>
            </mat-error>
            <mat-error *ngIf="form.get('emailFormControl').hasError('required') && form.get('emailFormControl').touched">
              <strong>Please enter an email address.</strong>
            </mat-error>
          </mat-form-field>
      </div>
      <div class="modal-footer">
        <div class="modal-button-wrapper">
          <button type="button" class="mat-raised-button cancel-btn" (click)="addRemoveEmailModal.close()">Cancel</button>
          <button type="submit" class="mat-raised-button save-btn" [ngClass]="{'disabled': form.invalid || !form.get('emailFormControl').value}" [disabled]="form.invalid || !form.get('emailFormControl').value"
          (click)="saveEmail(form.value)">
            {{addNew ? 'Save' : 'Update'}}
          </button>
        </div>
      </div>
    </form>
  </ngx-smart-modal>

</div>


<div class="row modalContainer">

  <ngx-smart-modal #deleteEmailModal identifier="myModal">
    <div class="modal-header">
      <h4 class="modal-title">Delete Email Address</h4>
    </div>
    <div class="modal-content">
      <div class="heading">
        <h1 class="delete-title">Are you sure you want to delete this Email Address?</h1>
      </div>
    </div>
    <div class="modal-footer">
      <div class="content-block">
        <div class="modal-button-wrapper">
          <button class="mat-raised-button cancel-btn" (click)="deleteEmailModal.close()">No</button>
          <button class="mat-raised-button yes-btn" (click)="confirmDelete()">Yes</button>
        </div>
      </div>
    </div>
  </ngx-smart-modal>

</div>
