/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-form-field-wrapper {
  .mat-form-field-infix {
    padding: .4375em 0;
  }
}
.mat-form-field-appearance-legacy {
  .mat-form-field-wrapper {
    padding-bottom: 1.25em;
  }
}

.mat-form-field-label-wrapper {
  top: -.84375em;
  padding-top: .84375em;
}
input.mat-input-element {
  margin-top: -.0625em;
}

.mat-form-field-type-mat-native-select.mat-focused:not(.mat-form-field-invalid).mat-warn .mat-form-field-infix::after, .mat-form-field.mat-form-field-invalid .mat-form-field-label, .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker, .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
  color: #f44336;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.2925em) scale(.75) perspective(100px) translateZ(0.001px);
}

.mat-error {
  display: block;
  color: #f44336;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 1.25em;
  background-color: rgba(0,0,0,.42);
}
.mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  opacity: 1;
  transform: scaleX(1);
  transition: transform .3s cubic-bezier(.25,.8,.25,1),opacity .1s cubic-bezier(.25,.8,.25,1),background-color .3s cubic-bezier(.25,.8,.25,1);
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f44336;
}
.mat-form-field-subscript-wrapper {
  font-size: 75%;
  margin-top: .66666667em;
  top: calc(100% - 1.79166667em);
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: .54166667em;
  top: calc(100% - 1.66666667em);
}

/*ngx Modal CSS*/
.modal-header {
  border: none;
  padding: 10px 10px 0 15px;
  font-size: 22px;
  text-align: center;
  display: block;
}

.modalHeader {
  padding: 6px 0;
}

.modal-footer {
  border: none;
  padding: 0;
}

button.close {
  float: right;
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
  padding-bottom: 2px;
  outline: none;
}

button.close:hover {
  opacity: 0.9;
  color: #000000;
}

.fade {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 20%;
}

h1 {
  font-size: 15px;
  line-height: 20px;
}

.modal-content {
  margin-top: -10%;
  color: #353535;
  opacity: 1;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-body {
  padding: 15px;
  max-height: 400px;
  overflow: auto;
}
.modal-backdrop {
  background-color: transparent !important;
}
.modal-backdrop.fade {
  z-index: -1;
}

.mat-dialog-container {
  padding: 0 !important;
}

.fade {
  padding-top: 10% !important;
}

.mat-snack-bar-container {
  color: rgba(255,255,255, 1);
  background: #7ab675;
  font-weight: bold;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

/**
Modal SCSS
 */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color .5s;
  background-color: transparent;
  z-index: 999;
}
.overlay.nsm-overlay-open {
  background-color: rgba(0,0,0,.5);
}
.nsm-dialog[class*=nsm-dialog-animation-] {
  transition: transform .5s ease-in-out,opacity .5s,-webkit-transform .5s ease-in-out;
}
.nsm-dialog {
  position: relative;
  opacity: 1;
  visibility: visible;
  min-height: 200px;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  pointer-events: none;
}
.nsm-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
  outline: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  margin: 1.75rem auto auto;
}
.nsm-dialog-btn-close {
  border: 0;
  background: 0 0;
  color: #2d2d2d;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
  cursor: pointer;
}
